header {
    background-color: #1E1E1E;
    border-bottom: 1px solid #32DB8B;
}

body {
    background-color: #1E1E1E;
    color: #ffffff;
}

h1,
h2,
a {
    font-family: "Exo 2", sans-serif;
    cursor: pointer;
}

.navbar-brand {
    color: #32DB8B;
}

#cabecalho .nav .nav-link.active {
    background-color: #32DB8B;
    color: #ffffff;
}

.nav-link:hover {
    background-color: #32DB8B;
    color: #ffffff !important;
}

#cabecalho .nav .nav-link,
.navbar-brand {

    color: #32DB8B;
}

#cabecalho .nav .nav-link.active {
    background-color: #32DB8B;
    color: #ffffff;
}

.navbar-brand:hover {
    color: #32DB8B;
    transform: scale(1.06);
}


.navbar-toggler {
    background-color: #32DB8B;
}


.content-2 {
    width: 100%;
    height: 140px;
    background-color: #32DB8B;
    box-shadow: 2px 10px 10px #32DB8B;
    color: #1E1E1E;
}

span {
    color: #ffffff;
}



div {
    overflow: hidden;
    border-radius: 0.7rem;
}

img {
    cursor: pointer;
    transition: transform 0.3s, border 0.3s;
}


#sobre img {
    border: 1px solid #32DB8B;
    transition: transform 0.3s;
}

#sobre img:hover {
    transform: scale(1.08);
}



.text-colored {
    color: #32DB8B;
}

#sobre>div {
    max-width: 100%;
    background-color: #FAFBFB;
    color: #1E1E1E;
    box-shadow: 10px 10px 10px #929494;
}


.social-links {
    display: flex;
    list-style: none;

}

.nav-buttons .nav-links {
    background-color: #32DB8B !important;
    color: #ffffff !important;
    border-style: 5px;
}

.nav-buttons .nav-link:hover,
.nav-buttons .nav-link.active {
    background-color: #32DB8B !important;
    /* Cor ao passar o mouse ou ativo */
    color: #ffffff !important;
}

#contato .col-md-7 {
    justify-content: center;
    margin: 0 auto;
}

footer {
    background-color: #161515;
    color: #32DB8B;
}

.sociais {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}